.footer {
    display: flex;
    color: white;
    background-color: black;
    padding:2em;
    justify-content: space-between;
    font-size: 14px;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
}
.footerLeft {
    display:flex;flex-direction: column;justify-content: space-between;
}

.footerLeft span:not(:last-child) {
    line-height: 1.5em;margin-bottom: 2em;
}

.footerRight {
    display:flex;
    flex-direction: column;
}
.footer > div {
    width: 50%;
    padding:2em 2em 0;
}
.links {
    text-align: right;
}
.links a {
    margin-left:1em;
}
.footer p, .footer span {
    color: #acacac;
    font-size: 14px;
    margin-top: 1em;
}
footer.footer h6 {
    font-size: 1.25em;
}
@media screen and (max-width:960px) 
{
    .footer {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .footerleft {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footerRight {
        margin-bottom: 1em;
        align-items: center;
    }
    .footer > div {
        width: 100%;
    }
    .links {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    /* .footer div:first-child {
        padding-top: 0;
    } */
}