.menu li {
    min-width: max-content;
    list-style: inside;
    transition: all .4s;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
}
.menu li:hover {
    margin-left: 1em;
}
.menu li:not(:last-child){
    margin-bottom: 1em;
}
.menu {
    background-color: black;
    padding: 2em;
    position: fixed;
}