.contentformation h1 {
    text-align: center;
}
.contentformation hr {
    width: 20%;
    border: 1px solid rgba(158, 156, 156, 0.351);
    /* margin:0 auto; */
}
.bloc {
    margin-top: 2em;
    margin-bottom: 2em;
}

.bloc h2 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.bloc li {
    list-style: circle;
    margin-left: 1em;
}

.end {
    padding-top: 2em;
}
.end h5 {
    text-align: center;
}

.sousbloc {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sousbloc h4{
    margin-bottom: 0.5em;
}

.bloc p {
    line-height: 1.5;
    margin-top: 1em;
}